html {
  background-color: #4d3317;
  background-image: url(../images/odysseus.jpg);
  background-repeat: no-repeat;
}

@media screen and (min-width: 415px) {
  html {
    background-position: 50% -50%;
  }
}

body {
  border: 1px solid #ccc;
  padding: 14px;
  width: fit-content;
  min-width: 300px;
  display: none;
  border-radius: 15px;
  margin: 2px auto;
  background: #efefef;
  opacity: 0.9;
}

label {
  width: 50px;
  font-size: 14px;
  font-weight: 500;
  padding-left: 5px;
}

input, select, button {
  border-radius: 10px;
  border: 1px solid #ccc;
}

input:focus, select:focus, button:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
}

input[type=text], input[type=password] {
  -webkit-appearance: none;
  padding: 3px 8px;
}

button.btn {
  font-weight: bold;
}

img.banner {
  padding: 10px 5px;
  width: 245px;
}

table.passwords {
  max-width: 500px;
  margin: 0px;
}

table.passwords>thead {
  background-color: #343a40;
  color: white;
}

div.primary, div.warning, div.danger {
  text-align: center;
  padding: 10px 25px;
  border-radius: 18px;
  font-weight: bold;
  font-size: 20px;
}

div.primary {
  color: #fff;
  background-color: #007bff;
}

div.warning {
  color: #212529;
  background-color: #ffc107;
}

div.danger {
  color: #fff;
  background-color: #dc3545;
}
